<!DOCTYPE html>
<html>
<head>
	<title>更改密码</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="">

	<a href="/?lang=cn">
		<div class='forms-logo'></div>
	</a>

	<div class="changePassword local-card shadow">
		<a href="/?lang=en">
			<div class='forms-logo forms-logo-sd'></div>
		</a>
		<style>
			.forms-logo-sd {
				width: 110px;
				margin: 0;
				display: none;
			}
			@media only screen and (max-width: 800px) {
				.forms-logo-sd {
					display: block;
				}	
			}
		</style>
		<h1 class='title local-mb-8'>更改您的密码</h1>
		<% if(errMessage != null) { %>
			<div class='local-alert danger'><%= errMessage %></div>
		<% } %>
		<form action="/auth/changePassword?lang=cn&token=<%=token%>&email=<%=email%>" method="POST">
			<input type="password" name="new_password" class="form-control local-mt-2" placeholder="输入新密码" required autofocus>
			<input type="password" name="password2" class="form-control local-mt-2" placeholder="确认您的新密码" required>
			<input type="submit" value='发送' class="local-btn login-btn local-mt-2 local-btn-primary">
			<!-- <button class="local-btn changePassword-btn local-mt-2 local-btn-primary">发送</button> -->
		</form>
		<a href='/register?lang=cn' class="mt-2 links">没有帐号？</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'><a href='/?lang=cn'>主页</li>
			<li class='footer-list-item'><a href='/privacyPolicy?lang=cn'>隐私和政策</a></li>
			<li class='footer-list-item'><a href='/docs?lang=cn'>API</a></li> 
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>