<!DOCTYPE html>
<html>
<head>
	<title>Survey App | 主页</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/partials_cn/static/header')   %>
	<div class="landing-page">
		<div class="content local-container-8">
			<div class="text-area">
				<h1 class="title-area" style='font-size: 65px;transition: all .2s ease-out;'>
					<strong class="main-title">
						发现您的观众的强项！
					</strong>
				</h1>
				<p class="description poppins">
					通过为他们创建调查来发现目标，然后您将轻松获得答复，
				</p>
				<div class="landing-page-btns">
					<a href="/login?lang=cn">
						<button 
						style="color: white;
						font-size: 20px;" 
						class='local-btn cta-btn local-btn bg-primary'>
						开始使用</button>
					</a>
					<a href="https://github.com/mouadTaoussi/survey-app" target="_blank">
						<button style="font-size:20px;" class='local-btn cta-btn local-btn-dark'>Github</button>
					</a>
				</div>
			</div>
			<!-- <div class="show-app"></div> -->
			<div id="login-in-homepage" class="login local-card shadow">
				<h1 class='title local-mb-8'>登录</h1>
				<form action="/auth/login?lang=cn" method="POST">
					<input type="email" name="email" class="form-control local-mt-2" placeholder="输入你的电子邮箱" required>
					<input type="password" name="password" class="form-control local-mt-2" placeholder="输入密码" required>
					<!-- <button class="local-btn login-btn local-mt-2 local-btn-primary">登录</button> -->
					<input type="submit" value='登录' class="local-btn login-btn local-mt-2 local-btn-primary">
				</form>
				<a href='/resetPassword?lang=cn' class="mt-2 links">f忘记密码了吗？</a>
				<a href='/register?lang=cn' class="mt-2 links float-right">没有帐号？</a>
				<p class="text-center">要么:</p>
				<a href='/auth/google'>
					<button class="local-btn local-mt-2 btn-primary" style="width:100%"><i class="fab fa-google mr-2 text-white"></i>使用Google登录</button>
				</a>
				<a href="/auth/github">
					<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>用Github登录</button>
				</a>
				<a href='/auth/linkedin'>
					<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>使用领英账户登录</button>
				</a>
			</div>
		</div>
	</div>

	<div class="svg-background-first-landing-page">
		<center>
			<h1 class="title-area text-center cards-title ">
				创建调查并共享 
			</h1>
			<p class="cards-sub-title poppins">帮助您创建调查表并了解您的受众需求和想法 </p>
		</center>
		<div class="first-landing-page local-container-8">
			<div class="local-p-4 local-m-2 ">
				<div class="card-survey"></div>
				<h3 class="card-title text-left">Surveys</h3>
				<p class="card-desc poppins text-dark">
					您可以创建＆服装＆编辑您的调查以达到目标，一起使用调查来确定特定目标！
				</p>
				<a href="/login?lang=cn" style="font-size:15px;text-align: left;">学到更多>
				</a>
			</div>			
			<div class="local-p-4 local-m-2 ">
				<div class="card-api"></div>
				<h3 class="card-title text-left">Restful API</h3>
				<p class="card-desc poppins text-dark">
					您可以使用我们的API来以开发人员的身份学习RestfulAPI，或者如果可能的话，可以在将来的应用程序中使用。 	
				</p>
				<a href="/docs?lang=cn" style="font-size:15px;text-align: left;">学到更多>	
				</a>
			</div>			
			<div class="local-p-4 local-m-2 ">
				<div class="card-graphql"></div>
				<h3 class="card-title text-left">GraphQL API</h3>
				<p class="card-desc poppins text-dark">
					您可以使用GraphQL API作为开发人员来学习该技术，或者如果可能的话，可以在将来的应用中使用该技术。
				</p>
				<a href="/docs?lang=cn" style="font-size:15px;text-align: left;">学到更多>
				</a>
			</div>		
		</div>
	</div>

	<div class="svg-background-second-landing-page">
		<div class="second-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/single_question_preview')   %>
			</div>
			<div id="pages-childs" class="product-feature-description-area">
				<p class="text-left features-tag-title poppins">- Release -</p>
				<h1 class="title-area text-left features-title">
					轻松将问题发布到您的目标！
				</h1>
				<p class="text-dark poppins features-desc">
					无需艰苦的步骤，您就可以随时针对目标进行编辑，
					然后您将获得详细的答复并显示在图表中，以了解每个选项的答复，
				</p>
			</div>
		</div>
	</div>

	<div class="svg-background-third-landing-page">
		<div class="third-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-description-area">
				<p class="text-left features-tag-title poppins">- Collect -</p>
				<h1 class="title-area text-left features-title">
					充分了解您的目标！
				</h1>	
				<p class="text-dark poppins features-desc">
					通过创建调查的问题，您将能够从目标中以图表的形式针对每个问题接收答复，然后您可以将答复下载为JSON格式 
				</p>	
			</div>
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/response_preview_chart')   %>
			</div>
		</div>
	</div>

	<div class="svg-background-fourth-landing-page">
		<div class="fourth-landing-page local-container-8">
			<h1 class="title-area text-center" style=''>
				<strong class="text-white">
					获取制定目标决策所需的数据！
				</strong>
			</h1>
			<br>
			<center>	
				<a href="/login?lang=cn">
					<button 
					style="font-size:20px;" 
					class="local-btn local-btn-light"
					>开始使用
				</button>
				</a>
				<button 
					onclick="window.close()" 
					style="font-size:20px;" 
					class="local-btn local-btn-light"
					>现在不要
				</button>
			</center>

		</div>
	</div>
	<div class="faq-landing-page">
		<div class="local-container-8 my-2">
			<h1 class="text-dark text-left poppins faq-title">一些最常见的问题。</h1>
			<div class="faqs">

				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">服务免费吗？</strong></h5>
					<p>绝对免费的付款！</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">如何开始使用？</strong></h5>
					<p class="poppins faq-response">创建帐户，然后在信息中心的“创建一个”按钮中创建调查.</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">回复正确且详细吗？</strong></h5>
					<p class="poppins faq-response">您的响应是通过一种算法进行处理的，该算法可以对您的响应结果进行计数和处理而不会出错.</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">我的调查报告是公开的吗？</strong></h5>
					<p class="poppins faq-response">不，它是私有的，没有人可以看到它.</p>
				</div>

				<div class="isometric-logo">
					<center>
						<svg id="isometric-logo" viewBox="0 0 279 203" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g id="logoIsometric">
								<path id="blueLight" d="M278.426 107.368L135.235 154.2L0.727495 107.38L136.18 62.69L278.426 107.368Z" fill="#1633FF" fill-opacity="0.43"/>
								<path id="blueDark" d="M278.386 107.253L135.195 154.086L0.714452 107.265L136.14 62.5754L278.386 107.253Z" fill="#1633FF" fill-opacity="0.79"/>
								<g id="logo">
									<path id="blueDarker" d="M278.019 106.772L134.829 153.604L0.321367 106.784L135.774 62.0939L278.019 106.772Z" fill="#1633FF"/>
									<g id="logo_2">
										<path id="Vector 5" d="M152.326 135.333L157.461 133.839L64.5132 100.97L128.706 79.5499L124.084 78.0559L55.7831 100.97L152.326 135.333Z" fill="white"/>
										<path id="Rectangle 64" d="M118.434 85.5272L131.786 90.0092L84.0269 105.95L70.6753 100.969L118.434 85.5272Z" fill="white"/>
										<path id="Rectangle 65" d="M122.541 95.4884L134.865 99.9704L99.4318 112.423L86.0805 107.443L122.541 95.4884Z" fill="white"/>
										<path id="Rectangle 66" d="M128.703 104.453L142.054 108.935L116.891 117.901L103.54 112.921L128.703 104.453Z" fill="white"/>
										<path id="Rectangle 67" d="M161.057 104.452L174.408 108.934L133.325 123.38L119.974 118.4L161.057 104.452Z" fill="white"/>
										<path id="Rectangle 68" d="M194.95 103.455L208.815 108.435L146.677 129.855L133.325 124.875L194.95 103.455Z" fill="white"/>
										<g id="ShapesToResiz">
											<path id="Vector 6" d="M160.028 132.343L156.434 133.339L65.0264 100.969L68.1077 99.9725L160.028 132.343Z" fill="#1633FF"/>
											<g id="Group 5">
												<path id="Vector 7" d="M142.056 92.9971L115.353 85.0293L124.083 81.5425L146.678 89.0124L142.056 92.9971Z" fill="#1633FF"/>
												<path id="Vector 12" d="M140.001 83.534L113.298 75.5662L122.028 72.0794L144.623 79.5493L140.001 83.534Z" fill="#1633FF"/>
												<path id="Vector 8" d="M146.164 103.954L119.461 95.9865L127.678 92.0016L150.786 99.9696L146.164 103.954Z" fill="#1633FF"/>
												<path id="Vector 9" d="M173.893 109.93L147.191 101.962L155.407 97.9772L178.515 105.945L173.893 109.93Z" fill="#1633FF"/>
												<path id="Vector 11" d="M214.977 110.925L188.274 102.957L196.491 98.9721L219.599 106.94L214.977 110.925Z" fill="#1633FF"/>
												<path id="Vector 10" d="M140.515 108.437L126.65 103.955L139.488 99.9702L148.218 104.452L140.515 108.437Z" fill="#1633FF"/>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</center>
				</div>
				<style>
					#isometric-logo {
						margin-top: -30px;
						height: 100%;
						width: 80%;
					}
				</style>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">回复正确且详细吗？</strong></h5>
					<p class="poppins faq-response">您的响应是通过一种算法进行处理的，该算法可以对您的响应结果进行计数和处理而不会出错.</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">回复正确且详细吗？</strong></h5>
					<p class="poppins faq-response">您的响应是通过一种算法进行处理的，该算法可以对您的响应结果进行计数和处理而不会出错.</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">回复正确且详细吗？</strong></h5>
					<p class="poppins faq-response">您的响应是通过一种算法进行处理的，该算法可以对您的响应结果进行计数和处理而不会出错.</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">回复正确且详细吗？</strong></h5>
					<p class="poppins faq-response">您的响应是通过一种算法进行处理的，该算法可以对您的响应结果进行计数和处理而不会出错.</p>
				</div>
				
			</div>
		</div>
	</div>
	<div class="svg-background-sixth-landing-page">
		<div class="local-container-8">
			<h1 class="text-left local-mx-2">
				<strong class="text-white">节省时间专注于重要事项！</strong>
			</h1>
			<a href="/login?lang=cn">
				<button class='local-btn local-btn-light poppins mx-2'>开始使用</button>
			</a>
		</div>
	</div>

	<%-  include('.././partials/partials_cn/static/mainFooter')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
<%-   include('.././partials/featured-on-producthunt')   %>
</html>
<style>
</style>