<!DOCTYPE html>
<html>
<head>
	<title>调查编辑</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style="">
<%- include('.././partials/partials_cn/dynamic/header',{avatar:user.avatar}) %>
<div id="survey-editor" class="mt-4 mb-4 local-container-4">
	<!-- Dynamic alert message -->
	<%- include('.././partials/alertMessage') %>
	<ul class="list-group list-group-horizontal-sm">
	  <li style="cursor:pointer;" class="list-group-item edit-tab active">编辑</li>
	  <li style="cursor:pointer;" class="list-group-item responses-tab">回应<i class="responsesNumber badge success text-white local-ml-2"></i></li>
	</ul>
	<style>
		.active {
			background-color: var(--light)!important;
			color: rgba(0,0,0,.7)!important;
			border-color: rgba(0,0,0,.3)!important;
		}
	</style>
	<!-- <h1>Survey Editor</h1> -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="survey-editor">
				<!-- Tools panel for smaller devices -->
		<div id="tools-panel-smaller-devices" class="local-shadow local-p-2 my-2">
			<div id="tools-list-smaller-devices">
				<center>
					<p class="add_new_field tool-item-sd px-2" data-toggle="tooltip" data-placement="left" title="添加新字段">
						<i class="bi bi-plus-square-fill"></i>
					</p>
				
					<p class="tool-item-sd px-2" data-toggle="modal" data-target="#importModal">
						<i class="bi bi-file-earmark-arrow-down-fill"></i>
					</p>
					<p class="tool-item-sd px-2" data-toggle="modal" data-target="#shareMethodsModal">
						<i class="bi bi-share-fill"></i>
					</p>
					<p class="tool-item-sd px-2" data-toggle="modal" data-target="#downloadResultsModal">
						<i class="bi bi-cloud-download-fill"></i>
					</p>
					<p class="tool-item-sd px-2" data-toggle="tooltip" data-placement="left" title="查看该调查的报告 ">
						<% if (survey !== null ) { %>
							<a style="color: black;" href='/results?survey_id=<%= survey.id %>'>
								<i class="bi bi-pie-chart-fill"></i>
							</a>
						<%}%>
						<% if (survey == null ) { %>
							<a style="color: black;" href='#'>
								<i class="bi bi-pie-chart-fill"></i>
							</a>
						<%}%>
					</p>
				</center>
			</div>
		</div>
		<div class="survey-editor-preview">
			<% if ( survey !== null ) { %>
				<div class="desc local-card local-mt-4 local-p-2 local-shadow">
			
					<input 
					    type="text" 
					    name="survey-title" 
					    class="form-control survey-title local-mt-2" 
					    placeholder="本调查的标题"
					    value="<%= survey.title %>">
					<textarea  
					    type="text" 
					    name="survey-description" 
					    class="form-control survey-description local-mt-2"
					    placeholder="这项调查的说明"
					 ><%= survey.description %></textarea>
					 <p style="display: none" id="survey_id" class="text-left local-mt-2">调查编号: <strong class="survey_id"><%= survey.id %></strong></p>
					
				</div>
				<div class="questions_list">
					<!-- Single Question -->
					<!-- Single Question -->
					<% survey.questions.forEach((question)=>{ %>				
						<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
							<!-- Dragable section -->
							<div class="dragable">
								<div></div><div></div><div></div>
								<div></div><div></div><div></div>
							</div>
							<!-- Quetsion or title -->
							<input 
								class="form-control mt-2" 
								placeholder='您想在这里写下哪个问题？'
								value="<%= question.title %>" 
								required
							>
							<!-- Files inputs -->
							<!-- <div class="custom-file files-attachment">
								<input type="file" class="custom-file-input" id="validatedCustomFile" onchange='getFile(event)' placeholder="<%= question.file %>">
								<label class="custom-file-label" for="validatedCustomFile">选择文件...</label>
								<div class="invalid-feedback">Example invalid custom file feedback</div>
							</div> -->
							<!-- Options -->
							<div class="options-area">
								<ul class="options-list">
									<% question.options.forEach((option)=>{ %>
									<li class="option-item">
										<input 
											type="text" 
											placeholder="选项" 
											class="form-control" 
											required 
											value="<%= option %>"
										>
										<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
									</li>
									<% }) %>
								</ul>
								<p class="add-new-option p-2">新增一个 +</p>
							</div>
							<!-- Settings -->
							<div class="question_settings">
								<select style="display: inline;width: 180px;" class='form-control'>
									<% if (question.type === "MultipleChoice") { %>
									<%- "<option selected>MultipleChoice</option><option>OneChoice</option><option>ShortParagraph</option>" %>
									
									<% } else if (question.type === "OneChoice") { %>
									<%- "<option>MultipleChoice</option><option selected>OneChoice</option><option>ShortParagraph</option>" %>
									
									<% } else if (question.type === "ShortParagraph") { %>
									<%- "<option>MultipleChoice</option><option>OneChoice</option><option selected>ShortParagraph</option>" %>

									<% } else { %>
									<%- "<option>MultipleChoice</option><option>OneChoice</option><option>ShortParagraph</option>" %>
									<% } %>
								</select>
								<i 
								onclick="deleteField(event)" 
								style="display: inline" 
								class="delete-field mx-2 far fa-trash-alt"></i>
							</div>
							<!-- question id goes here -->
							<p style="display: none;"><%= question._id%></p>
						</div>
					<% }) %>
				</div>
			<% } else { %>
				<div class="desc local-card local-mt-4 local-p-2 local-shadow">
			
					<input 
						autofocus 
					    type="text" 
					    name="survey-title" 
					    class="form-control survey-title local-mt-2" 
					    placeholder="本调查的标题">
					<textarea  
					    type="text" 
					    name="survey-description" 
					    class="form-control survey-description local-mt-2"
					    placeholder="这项调查的说明"
					 ></textarea>
					 <p style="display: none" id="survey_id" class="text-left local-mt-2">调查编号: <strong class="survey_id">---</strong></p>
					
				</div>
				<div class="questions_list">
					<!-- Single Question -->
					<!-- Single Question -->
					<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
						<!-- Dragable section -->
						<div class="dragable">
							<div></div><div></div><div></div>
							<div></div><div></div><div></div>
						</div>
						<!-- Quetsion or title -->
						<input class="form-control mt-2" placeholder='您想在这里写下哪个问题？' required>
						<!-- Files inputs -->
						<!-- <div class="custom-file files-attachment">
							<input type="file" class="custom-file-input" id="validatedCustomFile" onchange='getFile(event)'>
							<label class="custom-file-label" for="validatedCustomFile">选择文件...</label>
							<div class="invalid-feedback">Example invalid custom file feedback</div>
						</div> -->
						<!-- Options -->
						<div class="options-area">
							<ul class="options-list">
								<li class="option-item">
									<input type="text" placeholder="选项" class="form-control" required>
									<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
								</li>
								<li class="option-item">
									<input type="text" placeholder="选项" class="form-control" required>
									<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
								</li>
							</ul>
							<p class="add-new-option p-2">新增一个 +</p>
						</div>
						<!-- Settings -->
						<div class="question_settings">
							<select style="display: inline;width: 180px;" class='form-control'>
								<option>MultipleChoice</option>
								<option>OneChoice</option>
								<option>ShortParagraph</option>
							</select>
							<i onclick="deleteField(event)" style="display: inline" class="delete-field mx-2 far fa-trash-alt"></i>
						</div>
						<!-- question id goes here -->
						<p style="display: none;"></p>
					</div>
				</div>
			<% } %>
			<!-- Description Place -->
			<!-- Description Place -->
			<button class="local-btn local-btn-success local-mt-2 local-mb-2 float-right btn-save-changes">保存更改</button>
		</div>
		<!-------------------- Tools ----------------------->
		<!-------------------- Tools ----------------------->
		<!-------------------- Tools ----------------------->
		<div class="survey-editor-tools">
			<div class="tools-panel local-mt-4  local-shadow local-p-2">
				<ul class="tools-list">
					<li data-toggle="tooltip" data-placement="left" title="添加新字段" class="add_new_field">
						<i class="bi bi-plus-square-fill"></i>
					</li>
					<li title="Import another questions" type="button" data-toggle="modal" data-target="#importModal">
						<i class="bi bi-file-earmark-arrow-down-fill"></i>
					</li>
					<li title="Share this survey" type="button" data-toggle="modal" data-target="#shareMethodsModal">
						<i class="bi bi-share-fill"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#downloadResultsModal">
						<i class="bi bi-cloud-download-fill"></i>
					</li>
					<li data-toggle="tooltip" data-placement="left" title="查看该调查的报告 ">
						<% if (survey !== null ) { %>
							<a style="color: black;" href='/results?survey_id=<%= survey.id %>'>
								<i class="bi bi-pie-chart-fill"></i>
							</a>
						<%}%>
						<% if (survey == null ) { %>
							<a style="color: black;" href='#'>
								<i class="bi bi-pie-chart-fill"></i>
							</a>
						<%}%>
					</li>
				</ul>
			</div>
		</div>
		<!-- shareMethodsModal -->
		<div class="modal fade" id="shareMethodsModal" tabindex="-1" role="dialog" aria-labelledby="shareMethodsLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="shareMethodsLabel">分享此调查</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p><strong>链接以在您的社交媒体上分享：</strong></p>
		        
		        <% if (survey == null ) { %>
	        		<div class="input-group mb-3">
					  <input 
					  	type="text" 
					  	class="alert-primary form-control" 
					  	placeholder="Recipient's username" 
					  	aria-label="Survey link" 
					  	aria-describedby="button-addon2" 
					  	value="surveyapp1.herokuapp.com/submitResponse?survey_id=">
					  <div class="input-group-append">
					    <button id="copyLinkBtn" class="btn btn-primary" type="button" id="button-addon2">Copy Link</button>
					  </div>
					</div>
	        	 <% } else { %>
	        		<div class="input-group mb-3">
					  <input 
					  	type="text" 
					  	class="alert-primary inputLink form-control" 
					  	placeholder="Recipient's username" 
					  	aria-label="Survey link" 
					  	aria-describedby="button-addon2" 
					  	value="surveyapp1.herokuapp.com/submitResponse?survey_id=<%= survey.id %>&lang=en">
					  <div class="input-group-append">
					    <button id="copyLinkBtn" class="btn btn-primary" type="button" id="button-addon2">Copy Link</button>
					  </div>
					</div>
	        	 <%}%>
		        <p>将其包含在您的网站中的嵌入式元素：</p>
	        	<% if (survey == null ) { %>
		        	<div class="local-alert info">
		        		保存您的调查以获取嵌入式链接！
		        	</div>
	        	<% } else { %>
<xmp style="">
<iframe 
  src="surveyapp1.herokuapp.com/embedded?survey_id=<%=survey.id %>&lang=cn" 
  width="100%" 
  height="245px">
</iframe>
</xmp> 
	        	<%}%>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">关</button>
		        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		</div>
		<!-- importModal -->
		<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importQuestionsLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="importQuestionsLabel">导入另一个问题</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>将您要导入的调查ID粘贴到下面:</p>
		        <strong style='font-size: 13px;line-height: 3px'>
		        	注意：如果<kbd> survey_id </kbd>与调查ID相关，您将在其链接中获得调查ID，如下所示！
		        </strong>
		        <br>
		        <!-- <img  class="local-mt-2" src="./previewID.png" width="100%"> -->
		        <kbd style='font-size: 10px'>/surveyEditor?survey_id=5f4aef5b4491253b00b7cae</kbd>
		        <input type="text" class="import_survey_id form-control local-mt-2" placeholder="Survey ID">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">关</button>
		        <button type="button" class="local-btn local-btn-primary" onclick="importQuestions()">进口</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- download results Modal -->
		<div class="modal fade" id="downloadResultsModal" tabindex="-1" aria-labelledby="downloadResultsLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="downloadResultsLabel">下载该调查的报告</h5>
		        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<p class="text-left poppins">下载以下任何类型的调查答复报告。</p>
	      	   	<% if ( survey !== null ) { %>
		      		<a href="/response/downloadResults/json?survey_id=<%=survey.id %>">
						<button type="button" class="download-btn local-btn my-2 local-btn-warning">
							<i class="bi bi-braces text-white"></i>
							下载为JSON
						</button>
					</a>
					<br>
					<a href="/response/downloadResults/pdf?survey_id=<%=survey.id %>">
				        <button type="button" class="download-btn local-btn my-2 local-btn-danger">
				        	<i class="bi bi-file-earmark-pdf text-white"></i>
				        	下载为PDF
				        </button>
				    </a>
			        <br>
			        <a href="/response/downloadResults/json">
				        <button type="button" class="download-btn local-btn my-2 local-btn-success" disabled>
				        	<i class="bi bi-table text-white"></i>
					       下载为exel表格 (暂时不可用)
					    </button>
					</a>
		      	<% } else { %>
		      		<div class="local-alert info">
		        		Save your survey to get embedded link!
		        	</div>
		      	<% } %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="responses">
		
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>

<!-- important
% if
% 	guard ->
% 		body
% end -->