<!DOCTYPE html>
<html>
<head>
	<title>Embedded Page</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-2">
	<div class="desc local-card local-p-2">
		
		<h2 clas="text-left"><%= survey.title %></h2>
		<p clas="text-left">
			<%= survey.title %>
		</p>
		<a href="/submitResponse?survey_id=<%= survey.id %>&lang=en" target="_blank">
			<button class="local-btn local-btn-primary">Open in page</button>
		</a>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'><a href='/'>Home page</li>
			<li class='footer-list-item'><a href='/privacyPolicy'>Privacy & policy</a></li>
			<li class='footer-list-item'><a href='/documentation'>API?</a></li>
		</ul>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>