<!DOCTYPE html>
<html>
<head>
	<title>비밀번호 변경</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="">

	<a href="/?lang=kr">
		<div class='forms-logo'></div>
	</a>

	<div class="changePassword local-card shadow">
		<a href="/?lang=en">
			<div class='forms-logo forms-logo-sd'></div>
		</a>
		<style>
			.forms-logo-sd {
				width: 110px;
				margin: 0;
				display: none;
			}
			@media only screen and (max-width: 800px) {
				.forms-logo-sd {
					display: block;
				}	
			}
		</style>
		<h1 class='title local-mb-8'>비밀번호 변경</h1>
		<% if(errMessage != null) { %>
			<div class='local-alert danger'><%= errMessage %></div>
		<% } %>
		<form action="/auth/changePassword?lang=kr&token=<%=token%>&email=<%=email%>" method="POST">
			<input type="password" name="new_password" class="form-control local-mt-2" placeholder="
새 비밀번호를 입력하십시오" required autofocus>
			<input type="password" name="password2" class="form-control local-mt-2" placeholder="새 비밀번호 확인" required>
			<input type="submit" value='보내다' class="local-btn login-btn local-mt-2 local-btn-primary">
			<!-- <button class="local-btn changePassword-btn local-mt-2 local-btn-primary">보내다</button> -->
		</form>
		<a href='/register?lang=kr' class="mt-2 links">계정이 없습니까?</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'><a href='/?lang=kr'>홈페이지</li>
			<li class='footer-list-item'><a href='/privacyPolicy?lang=kr'>개인정보 보호 및 정책</a></li>
			<li class='footer-list-item'><a href='/docs?lang=kr'>API?</a></li>
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>