<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Docs</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/partials_kr/static/header')   %>
	<div class="landing-section">
		<center>
			<h1 style='padding-top: 200px;' class="text-white">앱에 필요한 데이터를 얻을 수 있습니다!</h1>
			<p class="text-white">API 문서는 명확하게 구성되어 있으며 사용하기 쉽습니다.</p>
		</center>
	</div>
	<style>
		.landing-section {
			height : 400px ;
			width: 100%;
			background-color: #1e272e;
		}
	</style>
	<!-- ----------------------------- Privacy && Policy ----------------------------- -->
	<div class="local-container-4 privacy">
			<h1 style='padding-top: 150px;'><strong class="local-text-black">API 참조</strong></h1>


			<section class="introduction">
				<h6>이 페이지에서는 SurveyApp API v1을 시작 하고 처리 하는 방법을 설명합니다.</h6>
				<strong>이것은 공개 API가 아닙니다! 따라서 계정을 만들거나 이미있는 경우 로그인해야합니다.</strong>
			</section>



			<!-- Space -->
			<br>
			<br>
			<!-- Space -->


			<section class="get-started">
				<h4 class="local-text-black">시작하다</h4>
				<h6>먼저 로그인> 대시 보드> 설정> API 키에서 API 키를 받아야합니다.</STRONG></h6>
				<h6>API KEY를 받으면 이제 첫 번째 쿼리를 제출할 준비가되었습니다!</h6>
			</section>


			<!-- Space -->
			<br>
			<br>
			<!-- Space -->


			<section class="endpoints">
				<h4 class="local-text-black">끝점 (경로)</h4>
				<xmp style="background-color:black;color:white;padding: 5px">surveyapp1.herokuapp.com/api/v1/get/users?limit=2</xmp>
				<p>
					위의 예는 위에서 제한 한대로 2 명의 사용자를 확보하기위한 간단한 URL을 나타냅니다. 모든 API 엔드 포인트 는 앱의 도메인 이름 인 surveyapp1.herokuapp.com으로 시작하고 그 뒤에 api를 설명하는 / api /와이 API의 현재 주 버전을 나타내는 / v1 /가 있습니다. 데이터를 가져 오거나 수정할지 여부를 API에 지정하는 get /, 마지막으로 사용자 또는 특정 사용자 또는 설문 조사와 같이 얻고 자하는 데이터를 설명하는 / users 필드 ...
					<br> 이것은 API URL의 기본 구조입니다.
				</p>
				<p>따라서 API URL의 구조는 다음과 같습니다.</p>
				<xmp style="background-color:black;color:white;padding: 5px">surveyapp1.herokuapp.com/api/version/method/data?query=value&query=value</xmp>
				<!-- Space -->
				<br>
				<br>
				<!-- Space -->
				<p>이 표는 엔드 포인트에서 데이터를 요청하는 동안 포함해야하는 쿼리 (매개 변수) 목록을 보여줍니다.</p>

				<table class="table">
					<tr>
						<td><strong>질문</strong></td>
						<td><strong>유형</strong></td>
						<td><strong>언제</strong></td>
						<td><strong>정의</strong></td>
					</tr>
					<tr>
						<td>api_key</td>
						<td>끈</td>
						<td>모든 API 끝점에서 데이터에 대한 액세스 권한을 부여합니다.</td>
						<td>앱에서 데이터를 가져오고 수정할 수있는 권한을 부여하는 쿼리입니다.</td>
					</tr>
					<tr>
						<td>limit</td>
						<td>번호</td>
						<td>at endpoints /get/users and /get/surveys.</td>
						<td>지정된 양의 사용자 또는 설문 조사 만받습니다.</td>
					</tr>
					<tr>
						<td>user_id</td>
						<td>끈</td>
						<td>at /get/user.</td>
						<td>그의 ID로 사용자를 얻으려면.</td>
					</tr>
					<tr>
						<td>survey_id</td>
						<td>끈</td>
						<td>at /get/survey and /update/survey and /delete/survey and /get/responses.</td>
						<td>특정 설문 조사에 액세스하고 조작합니다.</td>
					</tr>
				</table>
				<!-- Space -->
				<br>
				<br>
				<!-- Space -->
				<p>사용 가능한 엔드 포인트 목록 :</p>
				<!--  -->
				<details>
					<summary>
					  	 특정 사용자 얻기 :
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/user?user_id=3cdDC...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							특정 사용자를 얻는 방법은 다음과 같습니다. 매개 변수를:<br>
							설정 user_id하여 원하는 사용자를 지정할 수 있으며 api_key.
						</p>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/partials_docs/userResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	사용자 목록 가져 오기 :
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/users?limit=2&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							다음은 사용자 목록을 얻는 방법입니다! 물론 얻을 수있는 사용자 수를 지정해야합니다.한도 parmater.
						</p>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/partials_docs/usersResponse.ejs')   %>			
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	설문 조사 받기 :
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/survey?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							설문 조사 ID 내에 <kbd> survey_id </kbd> 매개 변수를 제공하여 설문 조사를 받으면 아래와 같은 응답을 받게됩니다.
						</p>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/partials_docs/surveyResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	설문 조사 목록 받기 :
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/surveys?limit=2&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							이 링크는 사용 가능한 설문 조사 목록을 제공하며 limit원하는 설문 조사 수 내 에서 매개 변수 를 다시 지정해야합니다 !
						</p>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/partials_docs/surveysResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	 특정 설문 조사 업데이트 : (당신의 설문 조사에서만!)
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ PUT/   (*1) surveyapp1.herokuapp.com/api/v1/update/survey?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						 <p class="badge badge-info text-left p-2" style="width:80px;">PUT</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							설문 조사를 업데이트하려면 업데이트하려는 설문 조사가 본인의 것인지 확인해야합니다! 자신의 것이 아닌 다른 사람을 변경할 권한이 없기 때문입니다! survey_idPOST 요청의 본문으로 아래와 같이 업데이트 된 요소 내에서 설문 조사 데이터 를 제공해야합니다 .
						</p>
						<p>
							기억<br>
							-해야 할 참고 사항 : -필드가 이동 될 수 있으므로 삭제해서는 안됩니다.<br>
							-링크에 제공된 것과 동일하게 유지되므로 본문의 _id를 변경하면 안됩니다.<br>
							-옵션 필드 및 결과 필드의 유형을 문자열 또는 기타로 변경하면 안됩니다.이 동작으로 인해 옵션이 실제로 제거되기 때문입니다.

						</p>
						<p class="text-left"><strong>신체 데이터 예 :</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/partials_docs/surveyBody.ejs')   %>
						</pre>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
{
    "saved": true,
    "message": "Saved your work!",
    "survey_id": "5f4aef284491253b00b7cae3"
}
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	 특정 설문 조사 삭제 : (당신의 설문 조사에서만!)
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ DELETE/(*2) surveyapp1.herokuapp.com/api/v1/delete/survey?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-danger text-left p-2" style="width:80px;">DELETE</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							다시 말하지만, 소유하지 않은 다른 설문 조사는 변경할 수 없으므로 설문 조사를 삭제하려면 survey_id매개 변수 를 설정하여 설문 조사를 지정하기 만하면 됩니다.
						</p>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
{
	deleted : true,
	message : "Survey deleted successfully!"
}
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	 설문 조사 응답 받기 : (당신의 설문 조사에서만!)
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/   (*3) surveyapp1.herokuapp.com/api/v1/get/responses?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>기술:</strong></p>
						<p>
							이 부분에서 개별 응답의 전체 목록을 얻을 수 있으며, 제공해야하는 survey_id응답을 얻으면 해당 응답을 쉽게 얻을 수 있습니다!
						</p>
						<p class="text-left"><strong>응답 미리보기 예 :</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/partials_docs/responsesResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!-- Space -->
				<br>
				<!-- Space -->
				<div class="alert alert-info">

					<strong>*1~2~3</strong><br>
				
					본인의 것이 아닌 설문 조사는 업데이트 및 삭제하지 마세요! 그들로부터 응답을 읽는 것.
					설문 조사에서만 이러한 작업을 수행 할 수 있습니다!
				
				</div>
			</section>


			<!-- Space -->
			<br>
			<br>
			<!-- Space -->


			<section class="change-log">
				<h4 class="local-text-black">변경 로그</h4>
				<!--  -->
				<details>
					<summary>
					  	2.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">it works</p>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	1.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">it works</p>
					</div>
				</details>
			</section>


			<!-- Space -->
			<br>
			<br>
			<!-- Space -->

	</div>
	<%-  include('.././partials/partials_kr/static/mainFooter.ejs')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	
</style>