<!DOCTYPE html>
<html>
<head>
	<title>Survey App | 개인 정보 정책</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/partials_kr/static/header')   %>	
	<div class="local-container-4 privacy">
		<h1 style='padding-top: 150px;'><strong class="local-text-black">개인 정보 정책</strong></h1>
		<div class="privacy-content">
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>

			</p>
			<br>
			<br> -->
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>
				
			</p>
			<br>
			<br> -->
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>

			</p>
			<br>
			<br> -->
			<%- include('.././partials/notAvailableForNow') %>
		</div>
	</div>
	<!-- ----------------------------- How it works ? ----------------------------- -->
	<div class="local-container-4 how-it-works">
		<h1 style='padding-top: 60px;'><strong class="local-text-black">어떻게 작동합니까?</strong></h1>
		<div class="how-it-works-content">
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>

			</p>
			<br>
			<br> -->
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>
				
			</p>
			<br>
			<br> -->
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>

			</p>
			<br>
			<br> -->
			<%- include('.././partials/notAvailableForNow') %>
		</div>
	</div>
	<%-  include('.././partials/partials_kr/static/mainFooter.ejs')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	@media only screen and (max-width: 600px){
		.first-landing-page {
			grid-template-columns: 2fr;
			grid-column-gap: 20px;
			margin : 40px auto 40px auto;
		}
		.second-landing-page,
		.third-landing-page
		{
			grid-template-columns: 2fr;
			grid-column-gap: 20px;
			margin : 40px auto 40px auto;

		}
		.fourth-landing-page ,
		.fifth-landing-page ,
		.sixth-landing-page {
			margin : 40px auto 40px auto;
		}
		.services {
			grid-template-columns: 2fr;
		}
		.header-list {
			display: none;
		}
		.content {
			display: grid;
			grid-template-columns: 2fr;
			grid-gap: 10px;
		}
		.text-area, .show-app {
			height: 300px;
		}
		.title-area {
			text-align: center;
			font-size: 30px!important;
		}
		.description {
			font-size: 12px;
			text-align: center;
		}
		.landing-page-btns {
			margin: 0 auto;
		}
	}
</style>