<!DOCTYPE html>
<html>
<head>
	<title>설문 응답 제출</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-4">
	<div class="desc local-card local-mt-2 local-p-2 shadow">
		<h2 clas="text-left"><%= survey.title %></h2>
		<p clas="text-left">
			<%= survey.description %>
		</p>
	</div>
	<% survey.questions.forEach((question)=>{ %>
	<div class="single-response local-card local-mt-2 local-p-2 shadow">
		<p><strong><%= question.title %></strong></p>
		<p class="question-type"><%= question.type %></p>
		<div class="options">
			<% if (question.type === "OneChoice") {%>
				<select class="form-control question-inputs">
					<% question.options.forEach((option)=>{ %>
  						<option><%= option %></option>
					<% }) %>
				</select>
			<% } else if (question.type === "MultipleChoice") {%>
					<% question.options.forEach((option)=>{ %>
					<input type="checkbox" id="<%= option %>" name="option" value="<%= option %>">
	  				<label for="<%= option %>"><%= option %></label><br>
					<% }) %>
			<% } else if (question.type === "ShortParagraph") {%>
				<%-'<input type="text" class="form-control" id="ShortParagraph" placeholder="Write a short paragraph">'-%>
			<% } %>
		</div>
		<!-- Check if any files provided -->
		<% if (question.file !== null) {%>
			<a href="<%= question.file %>" class='local-mt-2' target='_blank'>Check file attachment</a>
		<% } %>
	</div>
	<% }) %>
	<button class='float-right local-btn local-mt-2 local-mb-2 local-btn-primary' onclick='submitSurveyResponse()'>제출</button>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>