<!DOCTYPE html>
<html>
<head>
	<title>Change password</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="">

	<div class='forms-logo'></div>

	<div class="changePassword local-card shadow">
		<h1 class='title local-mb-8'>Change your password</h1>
		<% if(errMessage != null) { %>
			<div class='local-alert danger'><%= errMessage %></div>
		<% } %>
		<form action="/auth/changePassword?lang=en&token=<%=token%>&email=<%=email%>" method="POST">
			<input type="password" name="new_password" class="form-control local-mt-2" placeholder="Enter your new password" required autofocus>
			<input type="password" name="password2" class="form-control local-mt-2" placeholder="Confirm your new password" required>
			<button class="local-btn changePassword-btn local-mt-2 local-btn-primary">Send</button>
		</form>
		<a href='/register' class="mt-2 links">have no account?</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'>Terms of service</li>
			<li class='footer-list-item'>Privacy & policy</li>
			<li class='footer-list-item'>How it works?</li>
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
