<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<%-include('.././partials/HeadTags')%>
</head>
<body>
<%-include('.././partials/HeaderElement', {avatar:user.avatar})%>
<div class="local-container-8">
	<!-- Dynamic alert message -->
	<%-include('.././partials/alertMessage')%>
	<div class="row mt-4">
	<!-- Side bar -->
	  <div class="col-3">
	    <div class="list-group" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Your Surveys</a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Your Profile</a>
	      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
	    </div>
	  </div>
	  <div class="col-9">
	  	<!-- tabs section -->
	    <div class="tab-content" id="nav-tabContent">
	    <!-- Surveys tab -->
	      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
	      	<h3 class="text-left local-mb-4">Your Surveys</h3>
	      	<table class="table table-hover">
			  <thead style="background-color:rgba(0,0,0,.1)">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Survey ID</th>
			      <th scope="col">Survey Title</th>
			      <th scope="col">Active</th>
			    </tr>
			  </thead>
			  <tbody>
			   
			    <tr style="background-color:rgba(0,0,0,.20);cursor: pointer">
			      <td colspan="2"><a class="text-dark" href='/surveyEditor'>Create new survey +</a></td>
			      <td></td>
			      <td></td>
			    </tr>
				</a>
			  </tbody>
			</table>
	      </div>
	      <!-- user account -->
	      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
	      	<h3 class="text-left local-mb-4">Your Account</h3>
	      	<img src="<%= user.avatar %>" class="logo-of-user local-mb-4" width="200" height="200">
	      	<div class="avatar-input">
	
			    <label for="avatar" class="btn"><i class="far fa-edit"></i></label>
			    <input id="avatar" style="visibility:hidden;" type="file" onchange="getAvatar(event)">

		    </div>
		    <br>
		    <br>
		    <div style='background-color: white;' class="user_form local-p-4 shadow local-mb-4">
			    <label for="user_id">Your ID:</label>
			    <input 
				    type="text"
				    id="user_id"
				    name="user_id" 
				    class="form-control user-profile-inputs local-mb-2" 
				    value="<%= user.id %>" 
				    disabled
			    >
			    <label for="firstName">First Name</label>
			    <input 
				    type="text"
				    id="firstName"
				    name="firstName" 
				    class="form-control user-profile-inputs local-mb-2" 
				    placeholder="Enter your First Name" 
				    value="<%= user.fullName.familyName %>" 
				    required
			    >
			    <label for="givenName">Given Name</label>
				<input 
					type="text" 
					id="givenName"
					name="givenName" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="Enter your Family Name" 
					value="<%= user.fullName.givenName %>" 
					required
				>
				<label for="username">User Name</label>
				<input 
					type="text" 
					id="username"
					name="username" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="Enter your username" 
					value="<%= user.username %>" 
					required
				>
				<label for="email">Email</label>
				<input 
					type="email"
					id="email" 
					name="email" 
					class="form-control user-profile-inputs local-mb-2 local-mb-4" 
					placeholder="Enter your email" 
					value="<%= user.email %>"
					required
				>
		      	<button class="local-btn local-btn-success local-mb-4">Save Changes</button>
		      	<a href="/auth/logout">
		      		<button class="local-btn local-btn-danger local-mb-4">Log out</button>
		      	</a>
		    </div>
	      </div>
	      <!-- settings  -->
	      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
	      	<h3 class="text-left local-mb-4">Settings</h3>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
