<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Docs</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/HomePage&PrivacyHeader')   %>
	<!-- ----------------------------- Privacy && Policy ----------------------------- -->
	<div class="landing-section">
		<center>
			<h1 style='padding-top: 200px;' class="text-white">You can get data you need to your apps!</h1>
			<p class="text-white">Our documentation for API, is clearly organized and easy to use.</p>
		</center>
	</div>
	<style>
		.landing-section {
			height : 400px ;
			width: 100%;
			background-color: #1e272e;
		}
	</style>
	<div class="local-container-4 privacy">
			<h1 style='padding-top: 100px;'>
				<strong class="local-text-black">API reference</strong>
			</h1>


			<section class="introduction">
				<h6>This page explains how to get started with <strong>SurveyApp API</strong> v1, and deal with it</h6>
				<strong>This is not a public API! so you need to create an account or log in if you already have one.</strong>
			</section>



			<!-- Space -->
			<br>
			<br>
			<!-- Space -->


			<section class="get-started">
				<h4 class="local-text-black">Get started</h4>
				<h6>First off you have to get an API KEY at <STRONG>Log in > Dashboard > Settings > Your API key</STRONG></h6>
				<h6>After getting your API KEY, now you are ready to submit your first query!</h6>
			</section>


			<!-- Space -->
			<br>
			<br>
			<!-- Space -->


			<section class="endpoints">
				<h4 class="local-text-black">Endpoints (Routes)</h4>
				<xmp style="background-color:black;color:white;padding: 5px">surveyapp1.herokuapp.com/api/v1/get/users?limit=2</xmp>
				<p>
					this above example represents a simple url to get 2 users as limited above.
					all of the API endpoints start by <strong>surveyapp1.herokuapp.com</strong> which is the domain name of the app, then after it there is /api/ that describes the api and the /v1/ which represents the current major version of this API, then /get/ that specify to the API whether you want to get data or modify it, and finally /users field that describes which data you wanna get such as users or a spesific user or surveys ...
					This is the basic structure of the API URL
				</p>
				<p>so the structure of API URLs would be like:</p>
				<xmp style="background-color:black;color:white;padding: 5px">surveyapp1.herokuapp.com/api/version/method/data?query=value&query=value</xmp>
				<!-- Space -->
				<br>
				<br>
				<!-- Space -->
				<p>This table shows you a list of queries (parameters) that necessery to include them while you request data from the endpoints</p>

				<table class="table">
					<tr>
						<td><strong>Query</strong></td>
						<td><strong>Type</strong></td>
						<td><strong>When</strong></td>
						<td><strong>Definition</strong></td>
					</tr>
					<tr>
						<td>api_key</td>
						<td>String</td>
						<td>at all api endpoints, to grant access to the data.</td>
						<td>the query which authorize you to get & modify data from your app.</td>
					</tr>
					<tr>
						<td>limit</td>
						<td>Number</td>
						<td>at endpoints /get/users and /get/surveys.</td>
						<td>for get just a specified amount of users or surveys.</td>
					</tr>
					<tr>
						<td>user_id</td>
						<td>String</td>
						<td>at /get/user.</td>
						<td>for get an user by his ID.</td>
					</tr>
					<tr>
						<td>survey_id</td>
						<td>String</td>
						<td>at /get/survey and /update/survey and /delete/survey and /get/responses.</td>
						<td>for get access to a specific survey and manipulate it.</td>
					</tr>
				</table>
				<!-- Space -->
				<br>
				<br>
				<!-- Space -->
				<p>List of the available endpoints:</p>
				<!--  -->
				<details>
					<summary>
					  	Get a specific user:
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/user?user_id=3cdDC...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							This is how you can get a specific user:<br>
							you can set <kbd>user_id</kbd> parameter to specify which user you wanna get, then you must provide an <kbd>api_key</kbd>.
						</p>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/DocumentationContent/userResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	Get a list of users:
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/users?limit=2&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							here is how you you get a list of users!
							of course you need to specify how many users you want to get by <kb>limit</kb> parmater.
						</p>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/DocumentationContent/usersResponse.ejs')   %>			
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	Get a survey:
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/survey?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							you can get a survey by provide <kbd>survey_id</kbd> parameter within a survey id, then you'll get the response as shown below.
						</p>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/DocumentationContent/surveyResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	Get a list of surveys:
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/        surveyapp1.herokuapp.com/api/v1/get/surveys?limit=2&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							This link provides you a list of available surveys, and you'll again need to specify the <kbd>limit</kbd> parameter within a number of how many surveys you want!
						</p>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/DocumentationContent/surveysResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	Update a specific survey: (Only at your surveys!)
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ PUT/   (*1) surveyapp1.herokuapp.com/api/v1/update/survey?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						 <p class="badge badge-info text-left p-2" style="width:80px;">PUT</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							For update a survey you need to make sure that the survey you wanna update is yours! because you aren't authorized to make changes on the others that hasn't yours!
							you need to provide us a <kbd>survey_id</kbd> then a survey data within the updated elements as shown below as a body in the POST request,
						</p>
						<p>
							Notes to remember:<br>
							- You mustn't delete a field because it gonna be romoved.<br>
							- You mustn't change the _id on the body because it stay same as the provided one in the link.<br>
							- You mustn't change the type of the options field and the result field to a string or other because this behavior will get your options removed actually.<br>
						</p>
						<p class="text-left"><strong>Body data example:</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/DocumentationContent/surveyBody.ejs')   %>
						</pre>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
{
    "saved": true,
    "message": "Saved your work!",
    "survey_id": "5f4aef284491253b00b7cae3"
}
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	Delete a specific survey: (Only at your surveys!)
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ DELETE/(*2) surveyapp1.herokuapp.com/api/v1/delete/survey?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p  class="badge badge-danger text-left p-2" style="width:80px;">DELETE</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							Again you cannot make changes on other surveys that you don't own,
							so if you wanna delete a survey, you just need to specify a survey by set <kbd>survey_id</kbd>parameter.
						</p>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
{
	deleted : true,
	message : "Survey deleted successfully!"
}
						</pre>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	Get responses of a survey: (Only at your surveys!)
					</summary>
					<!-- Route -->
					<xmp style="background-color:black;color:white;padding: 5px">HTTP/1.0/ GET/   (*3) surveyapp1.herokuapp.com/api/v1/get/responses?survey_id=2eeDV...&api_key=YOUR_API_KEY</xmp>
					<div class="card my-4 p-4">
						<!-- Method -->
						<p class="badge badge-primary text-left p-2" style="width:80px;">GET</p>
						<!-- Description -->
						<p class="text-left"><strong>Description:</strong></p>
						<p>
							You can get a full list of undividual responses in this part, to get them you need to provide a <kbd>survey_id</kbd> and you'll get thier responses easily!
						</p>
						<p class="text-left"><strong>Response preview example:</strong></p>
						<!-- Code -->
						<pre>
							<%-   include('.././partials/DocumentationContent/responsesResponse.ejs')   %>
						</pre>
					</div>
				</details>
				<!-- Space -->
				<br>
				<!-- Space -->
				<div class="alert alert-info">

					<strong>*1~2~3</strong><br>
				
					You mustn't update and delete surveys that hasn't yours! as well as reading responses from them.<br>
					You allowed to do these actions at just your surveys!
				
				</div>
			</section>


			<!-- Space -->
			<br>
			<br>
			<!-- Space -->


			<section class="change-log">
				<h4 class="local-text-black">ChangeLog</h4>
				<!--  -->
				<!-- <details>
					<summary>
					  	2.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">it works</p>
					</div>
				</details> -->
				<!--  -->
				<details>
					<summary>
					  	1.5.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">Added sortable questions feature as well as fixing bugs and updating the UI of survey editor.</p>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	1.4.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">Changed the chart library to a one that disply result in the graph with no need to hover over each part.</p>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	1.3.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">Changed some design standards.</p>
					</div>
				</details>
				<!--  -->
				<details>
					<summary>
					  	1.2.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">New API for the app had been released.</p>
					</div>
				</details>

<!--  -->
				<details>
					<summary>
					  	1.0.0
					</summary>
					<div class="card my-4 p-4">
						<p class="text-left">Initial release.</p>
					</div>
				</details>

			</section>


			<!-- Space -->
			<br>
			<br>
			<!-- Space -->

	</div>
	<%-  include('.././partials/HomePage&PrivacyFooter.ejs')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	
</style>