<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Home Page</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/HomePage&PrivacyHeader')   %>
	<div class="landing-page">
		<div class="content local-container-8">
			<div class="text-area">
				<h1 class="title-area" style='font-size: 65px;transition: all .2s ease-out;'>
					<strong class="main-title">
						Discover what's your clients think about!
 					</strong>
				</h1>
				<p class="description poppins">
					Discover your target by creating a surveys for them and then you'll get your responses easily,
				</p>
				<div class="landing-page-btns">
					<a href="/login?lang=en">
						<button 
						style="color: white; font-size:20px;" 
						class='local-btn cta-btn local-btn bg-primary'>

						Get Started</button>
					</a>
					<a href="#next">
						<button style="font-size:20px;" class='local-btn cta-btn local-btn-light'>Learn more</button>
					</a>
				</div>
			</div>
			<!-- <div class="show-app"></div> -->
			<div id="login-in-homepage" class="login local-card shadow">
				<h1 class='title local-mb-8'>Log in</h1>
				<form action="/auth/login?lang=en" method="POST">
					<input type="email" name="email" class="form-control local-mt-2" placeholder="Enter your email" required>
					<input type="password" name="password" class="form-control local-mt-2" placeholder="Enter Your password" required>
					<!-- <button  class="local-btn login-btn local-mt-2 local-btn-primary">登录</button> -->
					<input type="submit" value='Log in' class="local-btn login-btn local-mt-2 local-btn-primary">
				</form>
				<a href='/resetPassword?lang=cn' class="mt-2 links">Forgot your password？</a>
				<a href='/register?lang=cn' class="mt-2 links float-right">Have no account？</a>
				<p class="text-center">Or:</p>
				<a href='/auth/google'>
					<button class="local-btn local-mt-2 btn-primary" style="width: 100%"><i class="fab fa-google mr-2 text-white"></i>Log in with Google</button>
				</a>
				<a href="/auth/github">
					<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>Log in with Github</button>
				</a>
				<a href='/auth/linkedin'>
					<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>Log in with Linkedin</button>
				</a>
			</div>
		</div>
	</div>

	<div class="svg-background-first-landing-page">
		<center>
			<h1 class="title-area text-center cards-title ">
				Create surveys and share them
			</h1>
			<p class="cards-sub-title poppins">Helping you creating surveys and know your audience needs and thoughts</p>
		</center>
		<div id="next" class="first-landing-page local-container-8">
			<div class="local-p-4 local-m-2 ">
				<div class="card-survey"></div>
				<h3 class="card-title text-left">Surveys</h3>
				<p class="card-desc poppins text-dark">
					You can create & costum & edit your surveys to your target,
					along side using surveys to a specific target!
				</p>
				<a href="/login?lang=en" style="font-size:15px;text-align: left;">Learn more>
				</a>
			</div>			
			<div class="local-p-4 local-m-2 ">
				<div class="card-api"></div>
				<h3 class="card-title text-left">Restful API</h3>
				<p class="card-desc poppins text-dark">
					You can use our APIs to learn RestfulAPI as a developer, or might be in your future app if possible. 				
				</p>
				<a href="/docs?lang=en" style="font-size:15px;text-align: left;">Learn more>	
				</a>
			</div>			
			<div class="local-p-4 local-m-2 ">
				<div class="card-graphql"></div>
				<h3 class="card-title text-left">GraphQL API</h3>
				<p class="card-desc poppins text-dark">
					You can use GraphQL API to learn the technology as a developer, or might be in your future app if possible.
				</p>
				<a href="/docs?lang=en" style="font-size:15px;text-align: left;">Learn more>
				</a>
			</div>			
		</div>
	</div>

	<div class="svg-background-second-landing-page">
		<div class="second-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/single_question_preview')   %>
			</div>
			<div id="pages-childs" class="product-feature-description-area">
				<p class="text-left features-tag-title poppins">- Release -</p>
				<h1 class="title-area text-left features-title">
					Release questions to your target Easily!
				</h1>
				<p class="text-dark poppins features-desc">
					without hard steps, and you can edit them whenever you want for your target,
					and you'll get your responses detailed and displayed in charts to get to know every option's response,
				</p>	
			</div>
		</div>
	</div>

	<div class="svg-background-third-landing-page">
		<div class="third-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-description-area">
				<p class="text-left features-tag-title poppins">- Collect -</p>
				<h1 class="title-area text-left features-title">
					Get to know your target well!
				</h1>	
				<p class="text-dark poppins features-desc">
					by creating questions of your survey, you'll be able to receive responses back from your target organized in charts for each question, then you can download your responses as JSON format 
				</p>		
			</div>
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/response_preview_chart')   %>
			</div>
		</div>
	</div>

	<div class="svg-background-fourth-landing-page">
		<div class="fourth-landing-page local-container-8">
			<h1 class="title-area text-center" style='font-size: 60px;margin-top: 300px;'>
				<strong class="text-white">
					Get data that you need to make targeted decisions! 
				</strong>
			</h1>
			<br>
			<center>	
				<a href="/login?lang=en">
					<button 
					style="font-size:20px;" 
					class="local-btn local-btn-light"
					>Get Started
				</button>
				</a>
				<!-- <button 
					onclick="window.close()" 
					style="font-size:20px;" 
					class="local-btn local-btn-light"
					>Not now
				</button> -->
			</center>
		</div>
	</div>
	<div class="faq-landing-page">
		<div class="faq-row local-container-8 my-2">
			<h1 class="text-left poppins faq-title">Some of the most frequently asked questions.</h1>
			<div class="faqs">
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">Is the service free?</h5>
					<p class="poppins faq-response">Absolutly free witout payment!</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">How to get started?</h5>
					<p class="poppins faq-response">Create an account then create a survey in the Create One button in the dashboard</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">Is my data private?</h5>
					<p class="poppins faq-response">Your date is private, no one could see them! read privacy & policy for more</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5 class="poppins faq-question">Are the responses correct and detailed?</h5>
					<p class="poppins faq-response">Your responses are proccessed via an algorithm that count and proccess your results of the responses without mistakes</p>
				</div>
			</div>
		</div>
	</div>
	<div class="svg-background-sixth-landing-page">
		<div class="local-container-8">
			<h1 class="text-left local-mx-2">
				<strong class="text-white">Save time to focus on what matters!</strong>
			</h1>
			<a href="/login?lang=en">
				<button class='local-btn local-btn-light poppins mx-2'>Get Started</button>
			</a>
		</div>
	</div>
	<%-  include('.././partials/HomePage&PrivacyFooter.ejs')  %>

</body>
<%-   include('.././partials/ScriptTags')   %>
<%-   include('.././partials/featured-on-producthunt')   %>
</html>

