<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Home Page</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/HomePage&PrivacyHeader')   %>
	<div class="landing-page">
		<div class="content local-container-8">
			<div class="text-area">
				<h1 class="title-area" style='font-size: 65px;transition: all .2s ease-out;'>
					<strong class="main-title">
						Discover what's your clients think about!
 					</strong>
				</h1>
				<p class="description">
					Discover your target by creating a surveys for them and then you'll get your responses easily,
				</p>
				<div class="landing-page-btns">
					<a href="/login?lang=en">
						<button 
						style="color: white; font-size:20px;" 
						class='local-btn cta-btn local-btn bg-primary'>

						Get Started</button>
					</a>
					<a href="#next">
						<button style="font-size:20px;" class='local-btn cta-btn local-btn-success'>Learn more</button>
					</a>
				</div>
			</div>
			<!-- <div class="show-app"></div> -->
			<div id="login-in-homepage" class="login local-card shadow">
				<h1 class='title local-mb-8'>Log in</h1>
				<form action="/auth/login?lang=en" method="POST">
					<input type="email" name="email" class="form-control local-mt-2" placeholder="Enter your email" required autofocus>
					<input type="password" name="password" class="form-control local-mt-2" placeholder="Enter Your password" required>
					<!-- <button  class="local-btn login-btn local-mt-2 local-btn-primary">登录</button> -->
					<input type="submit" value='Log in' class="local-btn login-btn local-mt-2 local-btn-primary">
				</form>
				<a href='/resetPassword?lang=cn' class="mt-2 links">Forgot your password？</a>
				<a href='/register?lang=cn' class="mt-2 links float-right">Have no account？</a>
				<p class="text-center">Or:</p>
				<a href='/auth/google'>
					<button class="local-btn local-mt-2 google-btn"><i class="fab fa-google mr-2 text-white"></i>Log in with Google</button>
				</a>
				<a href="/auth/github">
					<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>Log in with Github</button>
				</a>
				<a href='/auth/linkedin'>
					<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>Log in with Linkedin</button>
				</a>
			</div>
		</div>
	</div>

	<div class="svg-background-first-landing-page">
		<!-- <h1 class="title-area text-center" style='font-size: 44px;margin-top: 30px;'>
			<strong style="color: rgba(0,0,0,.9);">
				What we offer?
			</strong>
		</h1> -->
		<div id="next" class="first-landing-page local-container-8">
			<div class="local-p-4 local-m-2 ">
				<div class="card-data-segmentation"></div>
				<h4 class="text-center m-4">Surveys</h4>
				<p class="text-dark">
					You can create & costum & edit your surveys to your target,
					along side using surveys to a specific target, you can also use survey as an invitation request to your family & friends asking them about your event! 
				</p>
				<center>
					<a href="/login?lang=en">
						<button style="font-size:20px;" class="local-btn local-btn-success">Get Started!</button>	
					</a>
				</center>
			</div>			
			<div class="local-p-4 local-m-2 ">
				<div class="card-data"></div>
				<h4 class="text-center m-4">API</h4>
				<p class="text-dark">
					If you are a passionate about APIs! then this side might be appropriate for you,
					you can use our APIs to learn RestfulAPI as a developer, or might be in your future app if possible. 				
				</p>
				<center>
					<a href="/docs?lang=en">
						<button style="font-size:20px;" class="local-btn local-btn-success">Get Started!</button>	
					</a>
				</center>
			</div>			
			<div class="local-p-4 local-m-2 ">
				<div class="card-data-trends"></div>
				<h4 class="text-center m-4">GraphQL API</h4>
				<p class="text-dark">
					If you are a passionate about GraphQL world! then this side might be good to get started,
					you can use GraphQL API to learn the technology as a developer, or might be in your future app if possible.
				<center>
					<a href="/docs?lang=en">
						<button style="font-size:20px;" class="local-btn local-btn-success">Get started!</button>	
					</a>
				</center>
			</div>			
		</div>
	</div>

	<div class="svg-background-second-landing-page">
		<div class="second-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/single_question_preview')   %>
			</div>
			<div id="pages-childs" class="product-feature-description-area">
				<h1 class="title-area" style='font-size: 44px;margin-top: 30px;'>
					<div class="landing-page-cards-logo"></div>
					<strong style="color: rgba(0,0,0,.9);">
						Release questions to your target Easily!
					</strong>
				</h1>
				<p class="text-dark">
					without hard steps, and you can edit them whenever you want for your target,
					and you'll get your responses detailed and displayed in charts to get to know every option's response,
				</p>	
			</div>
		</div>
	</div>

	<div class="svg-background-third-landing-page">
		<div class="third-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-description-area">
				<h1 class="title-area" style='font-size: 44px;margin-top: 20px;'>
					<div class="landing-page-cards-logo"></div>
					<strong style="color: rgba(0,0,0,.9);">
						Get to know your target well!
					</strong>
				</h1>	
				<p class="text-dark">
					by creating questions of your survey, you'll be able to receive responses back from your target organized in charts for each question, then you can download your responses as JSON format 
				</p>		
			</div>
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/response_preview_chart')   %>
			</div>
		</div>
	</div>

	<div class="svg-background-fourth-landing-page">
		<div class="fourth-landing-page local-container-8">
			<h1 class="title-area text-center" style='font-size: 44px;margin-top: 230px;'>
				<strong class="text-white">
					Are you ready to get started?
				</strong>
			</h1>
			<center>	
				<a href="/login?lang=en">
					<button 
					style="font-size:20px;" 
					class="local-btn local-btn-success"
					>Get Started
				</button>
				</a>
				<button 
					onclick="window.close()" 
					style="font-size:20px;" 
					class="local-btn local-btn-success"
					>Not now
				</button>
			</center>
		</div>
	</div>
	<div class="faq-landing-page">
		<div class="faq-row local-container-8 my-2">
			<h1 class="text-dark text-left poppins">Some of the most frequently asked questinos.</h1>
			<div class="faqs">
				<div class="light local-card shadow my-2 local-p-2">
					<h5><strong>is the service free?</strong></h5>
					<p>absolutly free witout payment!</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5><strong>How to get Started?</strong></h5>
					<p>Create an account then create a survey in the Create One button in the dashboard</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5><strong>is my data private?</strong></h5>
					<p>Your date is private, no one could see them! read privacy & policy for more</p>
				</div>
				<div class="light local-card shadow my-2 local-p-2">
					<h5><strong>are the responses correct and detailed?</strong></h5>
					<p>Your responses are proccessed via an algorithm that count and proccess your results of the responses without mistakes</p>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="svg-background-sixth-landing-page">
		<div class="sixth-landing-page local-container-8">
			<div class="services">
				<div class="service">
					<img src="./logo.svg" class="kbt-logo">
					<div>
						<h2 class="text-left text-white">Your questions and responses are fully Private ›</h2>
						<h6 class="text-left text-white">
							A series of on-demand webinars to learn more about Charmed Kubernetes.
						</h6>
					</div>
				</div>
				<div class="service-1">
					<img src="./graphql-svg.png" class="graphql-logo">
					<div>
						<h2 class="text-left">
							<a href="/docs?lang=en" class="text-white"> ›</a>
						</h2>
						<h6 class="text-left text-white">
							Learn how GraphQL operations can accelerate using data in the application process and help to bring costs down.
						</h6>
					</div>
				</div>
			</div>
		</div>
		
	</div> -->
	<%-  include('.././partials/HomePage&PrivacyFooter.ejs')  %>

</body>
<%-   include('.././partials/ScriptTags')   %>
<%-   include('.././partials/featured-on-producthunt')   %>
</html>

