<!DOCTYPE html>
<html>
<head>
	<title>SubmitSurveyResponse</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-4">
	<div class="desc local-card local-mt-2 local-p-2">
		<h2 clas="text-left"><%= survey.title %></h2>
		<p clas="text-left">
			<%= survey.description %>
		</p>
	</div>
	<% survey.questions.forEach((question)=>{ %>
	<div class="local-card local-mt-2 local-p-2">
		<p><%= question.title %></p>
		<div class="options-area">
			<% if (question.type === "OneChoice") {%>
				<select class="form-control question-inputs">
					<% question.options.forEach((option)=>{ %>
					<option><%= option %></option>
					<% }) %>
				</select>
			<% } else if (question.type === "MultipleChoice") {%>
				<select class="form-control question-inputs">
					<% question.options.forEach((option)=>{ %>
					<option><%= option %></option>
					<% }) %>
				</select>
			<% } else if (question.type === "ShortParagraph") {%>
				<%-'<input type="text" class="form-control" id="ShortParagraph">'-%>
			<% } %>
		</div>
	</div>
	<% }) %>
	<button class='float-right local-btn local-mt-2 local-mb-2 local-btn-primary' onclick='submitSurveyResponse()'>Submit</button>

</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
