<!DOCTYPE html>
<html>
<head>
	<title>Survey Editor</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style="">
<%-include('.././partials/HeaderElement', {avatar:user.avatar})%>
<div class="mt-4 mb-4 local-container-8">
	<!-- Dynamic alert message -->
	<%- include('.././partials/alertMessage') %>
	<ul class="list-group list-group-horizontal-sm">
	  <li style="cursor:pointer;" class="list-group-item edit-tab active">Edit</li>
	  <li style="cursor:pointer;" class="list-group-item responses-tab">Responses</li>
	</ul>
	<!-- <h1>Survey Editor</h1> -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="survey-editor">

		<div class="survey-editor-preview">
			<% if ( survey !== null ) { %>
				<div class="desc local-card local-mt-4 local-p-2 local-shadow">
			
					<input 
					    type="text" 
					    name="survey-title" 
					    class="form-control survey-title local-mt-2" 
					    placeholder="Title of this survey"
					    value="<%= survey.title %>">
					<textarea  
					    type="text" 
					    name="survey-description" 
					    class="form-control survey-description local-mt-2"
					    placeholder="A Description of this survey"
					 ><%= survey.description %></textarea>
					 <p class="text-left local-mt-2">Survey ID: <strong class="survey_id"><%= survey.id %></strong></p>
					
				</div>
				<div class="questions_list">
					<!-- Single Question -->
					<!-- Single Question -->
					<% survey.questions.forEach((question)=>{ %>				
						<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
							<!-- Dragable section -->
							<div class="dragable">
								<div></div><div></div><div></div>
								<div></div><div></div><div></div>
							</div>
							<!-- Quetsion or title -->
							<input 
								class="form-control mt-2" 
								placeholder='Which question you wanna write here?'
								value="<%= question.title %>" 
								required
							>
							<!-- Files inputs -->
							<div class="custom-file files-attachment">
								<input type="file" class="custom-file-input" id="validatedCustomFile" onchange='getFile(event)'>
								<label class="custom-file-label" for="validatedCustomFile">Choose files...</label>
								<div class="invalid-feedback">Example invalid custom file feedback</div>
							</div>
							<!-- Options -->
							<div class="options-area">
								<ul class="options-list">
									<% question.options.forEach((option)=>{ %>
									<li class="option-item">
										<input 
											type="text" 
											placeholder="Option" 
											class="form-control" 
											required 
											value="<%= option %>"
										>
										<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
									</li>
									<% }) %>
								</ul>
								<p class="add-new-option p-2">Add new one +</p>
							</div>
							<!-- Settings -->
							<div class="question_settings p-2">
								<i 
								onclick="deleteField(event)" 
								style="display: inline" 
								class="delete-field mx-2 far fa-trash-alt"></i>
								<select style="display: inline;width: 180px;" class='mx-2 form-control'>

									<% if (question.type === "MultipleChoice") { %>
									<%- "<option selected>MultipleChoice</option><option>OneChoice</option><option>ShortParagraph</option>" %>
									
									<% } else if (question.type === "OneChoice") { %>
									<%- "<option>MultipleChoice</option><option selected>OneChoice</option><option>ShortParagraph</option>" %>
									
									<% } else if (question.type === "ShortParagraph") { %>
									<%- "<option>MultipleChoice</option><option>OneChoice</option><option selected>ShortParagraph</option>" %>

									<% } else { %>
									<%- "<option>MultipleChoice</option><option>OneChoice</option><option>ShortParagraph</option>" %>
									<% } %>

								</select>
							</div>
						</div>
					<% }) %>
				</div>
			<% } else { %>
				<div class="desc local-card local-mt-4 local-p-2 local-shadow">
			
					<input 
					    type="text" 
					    name="survey-title" 
					    class="form-control survey-title local-mt-2" 
					    placeholder="Title of this survey">
					<textarea  
					    type="text" 
					    name="survey-description" 
					    class="form-control survey-description local-mt-2"
					    placeholder="A Description of this survey"
					 ></textarea>
					 <p class="text-left local-mt-2">Survey ID: <strong class="survey_id">---</strong></p>
					
				</div>
				<div class="questions_list">
					<!-- Single Question -->
					<!-- Single Question -->
					<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
						<!-- Dragable section -->
						<div class="dragable">
							<div></div><div></div><div></div>
							<div></div><div></div><div></div>
						</div>
						<!-- Quetsion or title -->
						<input class="form-control mt-2" placeholder='Which question you wanna write here?' required>
						<!-- Files inputs -->
						<div class="custom-file files-attachment">
							<input type="file" class="custom-file-input" id="validatedCustomFile" onchange='getFile(event)'>
							<label class="custom-file-label" for="validatedCustomFile">Choose files...</label>
							<div class="invalid-feedback">Example invalid custom file feedback</div>
						</div>
						<!-- Options -->
						<div class="options-area">
							<ul class="options-list">
								<li class="option-item">
									<input type="text" placeholder="Option" class="form-control" required>
									<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
								</li>
								<li class="option-item">
									<input type="text" placeholder="Option" class="form-control" required>
									<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
								</li>
							</ul>
							<p class="add-new-option p-2">Add new one +</p>
						</div>
						<!-- Settings -->
						<div class="question_settings p-2">
							<i onclick="deleteField(event)" style="display: inline" class="delete-field mx-2 far fa-trash-alt"></i>
							<select style="display: inline;width: 180px;" class='mx-2 form-control'>
								<option>MultipleChoice</option>
								<option>OneChoice</option>
								<option>ShortParagraph</option>
							</select>
						</div>
					</div>
				</div>
			<% } %>
			<!-- Description Place -->
			<!-- Description Place -->
			<button class="local-btn local-btn-primary local-mt-2 local-mb-2 float-right btn-save-changes">Save Changes</button>
		</div>
		<!-------------------- Tools ----------------------->
		<!-------------------- Tools ----------------------->
		<!-------------------- Tools ----------------------->
		<div class="survey-editor-tools">
			<div class="tools-panel local-mt-4  local-shadow local-p-2">
				<ul class="tools-list">
					<li class="add_new_field">
						<i data-toggle="tooltip" data-placement="left" title="Add new field" class="fas fa-plus"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#importModal">
						<i data-toggle="tooltip" data-placement="left" title="Import another survey questions" class="fas fa-file-import"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#shareMethodsModal">
						<i data-toggle="tooltip" data-placement="left" title="Share this survey" class="fas fa-share-square"></i>
					</li>
					<li type="button">
						<i data-toggle="tooltip" data-placement="left" title="Share this survey" class="fas fa-file-download"></i>
					</li>
				</ul>
			</div>
		</div>
		<!-- shareMethodsModal -->
		<div class="modal fade" id="shareMethodsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Share your survey</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">Close</button>
		        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		</div>
		<!-- importModal -->
		<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Import another questions</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="local-btn local-btn-primary">Import</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="responses">
		
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>

<!-- important
% if
% 	guard ->
% 		body
% end -->