<!DOCTYPE html>
<html>
<head>
	<title>仪表板</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/chineseHeaderElement',{avatar:user.avatar}) %>
<div class="local-container-8">
	<!-- <h1 class="mt-4">Dashboard</h1> -->
	<!-- Dynamic alert message -->
	<%- include('.././partials/alertMessage') %>
	<div class="dashboard-rows mt-4">
	<!-- Side bar -->
	  <div class="dashboard-row-tab">
	    <div class="list-group list-group-dashboard" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">您的调查</a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">你的帐户</a>
	      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">设定</a>
	    </div>
	  </div>
	  <div class="dashboard-row-content">
	  	<% if ( infos.length > 0 ) { %>
	  	
	  		<% infos.forEach((info)=>{ %>
	  			<div class="local-alert info mb-4"><%= info %></div>
	  		<% }) %>

	  	<% } %>
	  	<!-- tabs section -->
	    <div class="tab-content" id="nav-tabContent">
	    <!-- Surveys tab -->
	      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
	      	<h3 class="text-left local-mb-4">您的调查</h3>
	      	<table id='surveys-table' class="table table-hover">
	      	  <% if (surveys.length == 0) { %>
	      	   	<div class="empty-content"></div>
	      	  <% } %>
	      	  <% if (surveys.length > 0) { %>
				<thead style="background-color:rgba(0,0,0,.1); font-family: 'Poppins';">
				    <tr>
				      <th scope="col">调查编号</th>
				      <th scope="col">调查标题</th>
				      <th scope="col"></th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				<tbody>
				<% surveys.forEach((survey)=>{%> 
				  <tr>
				    <td>
				    	<a href="/surveyEditor?survey_id=<%= survey.id %>&lang=cn">
				    		<%= survey.id %>	
				    		</a>
				    	</td>
				    <td><%= survey.title %></td>
				    <td>
				    	<button class="local-btn local-btn-danger" onclick="deleteSurvey(event,'<%= survey.id %>')">删除</button>
				    </td>
				    <td>
				    	<a href="/submitResponse?survey_id=<%= survey.id %>&lang=cn" target="_blank">
				    		<button class="local-btn local-btn-info">预习</button>
				    	</a>
				    </td>
				  </tr>
				<% }) %>
				<% } %>
			    <tr style="background-color:rgba(0,0,0,.20); cursor: pointer">
			      <td><a class="text-dark" href='/surveyEditor?lang=cn'>建立新的问卷调查+</a></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
				</a>
			  </tbody>
			</table>
			<!-- Cards to display user surveys -->
			<div id="survey-cards" class="">
				<% if (surveys.length == 0) { %>
	      	   		<div class="empty-content"></div>
	      	  	<% } %>
				<% if (surveys.length > 0) { %>
					<% surveys.forEach((survey)=>{%> 
						<div id="survey-card" class="card local-p-2 my-4">
							<p class="text-left">
								<a href="/surveyEditor?survey_id=<%= survey.id %>&lang=cn">
									<%= survey.title || 'No title provided'%>
								</a>
							</p>
							<p style="font-size: 13px" class="text-left">Survey ID: <%= survey.id %></p>
							<svg onclick="showDropdown(event)" id="survey-card-manu" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
							</svg>		 
					    	<div class="survey-card-dropdown card local-p-2 shadow display-none">
					    		<p class="survey-card-dropdown-item text-danger" onclick="deleteSurvey(event,'<%= survey.id %>')">
					    		Delete</p>
					    		<p class="survey-card-dropdown-item">
					    			<a href='/submitResponse?survey_id=<%= survey.id %>&lang=kr" target="_blank"'>Preview</a>
					    		</p>
					    	</div>
					    </div>
					<% }) %>
				<% } %>
			</div>
	      </div>
	      <!-- user account -->
	      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
	      	<h3 class="text-left local-mb-4">你的帐户</h3>
	      	<img src="<%= user.avatar %>" class="logo-of-user local-mb-4" width="200" height="200">
	      	<div class="avatar-input">
	
			    <label for="avatar" class="btn"><i class="far fa-edit"></i></label>
			    <input id="avatar" style="visibility:hidden;" type="file" onchange="getAvatar(event)">

		    </div>
		    <br>
		    <br>
		    <div style='background-color: white;' class="user_form local-p-4 shadow local-mb-4">
			    <label for="user_id">你的身份证：</label>
			    <input 
				    type="text"
				    id="user_id"
				    name="user_id" 
				    class="form-control user-profile-inputs local-mb-2" 
				    value="<%= user.id %>" 
				    disabled
			    >
			    <label for="firstName">名字</label>
			    <input 
				    type="text"
				    id="firstName"
				    name="firstName" 
				    class="form-control user-profile-inputs local-mb-2" 
				    placeholder="Enter your First Name" 
				    value="<%= user.fullName.familyName %>" 
				    required
			    >
			    <label for="givenName">给定的名称</label>
				<input 
					type="text" 
					id="givenName"
					name="givenName" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="Enter your Family Name" 
					value="<%= user.fullName.givenName %>" 
					required
				>
				<label for="username">用户名</label>
				<input 
					type="text" 
					id="username"
					name="username" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="Enter your username" 
					value="<%= user.username %>" 
					required
				>
				<label for="email">电子邮件</label>
				<input 
					type="email"
					id="email" 
					name="email" 
					class="form-control user-profile-inputs local-mb-2 local-mb-4" 
					placeholder="Enter your email" 
					value="<%= user.email %>"
					required
				>
		      	<button onclick="updateUser()" class="local-btn local-btn-success local-mb-4">保存更改</button>
		      	<a href="/auth/logout?lang=cn">
		      		<button class="local-btn local-btn-danger local-mb-4">登出</button>
		      	</a>
		    </div>
	      </div>
	      <!-- settings  -->
	      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
	      	<h3 class="text-left local-mb-4">设定</h3>
	      	<div class="settings-area">
	      		<label for="email">您的API密钥：</label>
				<input 
					type="text"
					id="apiKey" 
					name="apiKey" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="API KEY" 
					value="<%= user.apiKey %>"
					disabled
				>
				<p class="text-dark" style="font-size: 13px; cursor:pointer;" onclick="regenerateAPIKEY()">撤销此API密钥</p>
				<label for="email">显示主题：</label>
				<select class="form-control">
					<option>Light</option>
					<option>Dark</option>
				</select>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div style="margin-top: 70px">
	<%-   include('.././partials/chineseFooter')   %>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>