<!DOCTYPE html>
<html>
<head>
	<title>仪表板</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/chineseHeaderElement',{avatar:user.avatar}) %>
<div class="local-container-8">
	<!-- <h1 class="mt-4">Dashboard</h1> -->
	<!-- Dynamic alert message -->
	<%- include('.././partials/alertMessage') %>
	<div class="row mt-4">
	<!-- Side bar -->
	  <div class="col-3">
	    <div class="list-group" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">您的调查</a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">你的帐户</a>
	      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">设定</a>
	    </div>
	  </div>
	  <div class="col-9">
	  	<!-- alert messages -->
	  	<!-- <div class="local-alert info local-mb-2">
	  		Provide us your email ! ! !
	  	</div> -->
	  	<!-- tabs section -->
	    <div class="tab-content" id="nav-tabContent">
	    <!-- Surveys tab -->
	      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
	      	<h3 class="text-left local-mb-4">您的调查</h3>
	      	<table class="table table-hover">
	      	  <% if (surveys.length == 0) { %>
	      	   	<div class="empty-content"></div>
	      	  <% } %>
	      	  <% if (surveys.length > 0) { %>
				<thead style="background-color:rgba(0,0,0,.1); font-family: 'Poppins';">
				    <tr>
				      <th scope="col">调查编号</th>
				      <th scope="col">调查标题</th>
				      <th scope="col">活性</th>
				      <th scope="col"></th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				<tbody>
				<% surveys.forEach((survey)=>{%> 
				  <tr>
				    <td>
				    	<a href="/surveyEditor?survey_id=<%= survey.id %>&user_id=<%= survey.user_id %>&lang=cn">
				    		<%= survey.id %>	
				    		</a>
				    	</td>
				    <td><%= survey.title %></td>
				    <td>
				    	<p class="badge <% if (survey.active) {%><%= 'badge-success' %><%} else { %><%= 'badge-danger' %><% } %>">
				    	<%= survey.active %>
				    	</p>
				    </td>
				    <td>
				    	<button class="local-btn local-btn-danger" onclick="deleteSurvey(event,'<%= survey.id %>')">删除</button>
				    </td>
				    <td>
				    	<a href="/submitResponse?survey_id=<%= survey.id %>&lang=cn" target="_blank">
				    		<button class="local-btn local-btn-info">预习</button>
				    	</a>
				    </td>
				  </tr>
				<% }) %>
				<% } %>
			    <tr style="background-color:rgba(0,0,0,.20); cursor: pointer">
			      <td><a class="text-dark" href='/surveyEditor?lang=cn'>建立新的问卷调查+</a></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
				</a>
			  </tbody>
			</table>
	      </div>
	      <!-- user account -->
	      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
	      	<h3 class="text-left local-mb-4">你的帐户</h3>
	      	<img src="<%= user.avatar %>" class="logo-of-user local-mb-4" width="200" height="200">
	      	<div class="avatar-input">
	
			    <label for="avatar" class="btn"><i class="far fa-edit"></i></label>
			    <input id="avatar" style="visibility:hidden;" type="file" onchange="getAvatar(event)">

		    </div>
		    <br>
		    <br>
		    <div style='background-color: white;' class="user_form local-p-4 shadow local-mb-4">
			    <label for="user_id">你的身份证：</label>
			    <input 
				    type="text"
				    id="user_id"
				    name="user_id" 
				    class="form-control user-profile-inputs local-mb-2" 
				    value="<%= user.id %>" 
				    disabled
			    >
			    <label for="firstName">名字</label>
			    <input 
				    type="text"
				    id="firstName"
				    name="firstName" 
				    class="form-control user-profile-inputs local-mb-2" 
				    placeholder="Enter your First Name" 
				    value="<%= user.fullName.familyName %>" 
				    required
			    >
			    <label for="givenName">给定的名称</label>
				<input 
					type="text" 
					id="givenName"
					name="givenName" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="Enter your Family Name" 
					value="<%= user.fullName.givenName %>" 
					required
				>
				<label for="username">用户名</label>
				<input 
					type="text" 
					id="username"
					name="username" 
					class="form-control user-profile-inputs local-mb-2" 
					placeholder="Enter your username" 
					value="<%= user.username %>" 
					required
				>
				<label for="email">电子邮件</label>
				<input 
					type="email"
					id="email" 
					name="email" 
					class="form-control user-profile-inputs local-mb-2 local-mb-4" 
					placeholder="Enter your email" 
					value="<%= user.email %>"
					required
				>
		      	<button onclick="updateUser()" class="local-btn local-btn-success local-mb-4">保存更改</button>
		      	<a href="/auth/logout?lang=cn">
		      		<button class="local-btn local-btn-danger local-mb-4">登出</button>
		      	</a>
		    </div>
	      </div>
	      <!-- settings  -->
	      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
	      	<h3 class="text-left local-mb-4">设定</h3>
	      </div>
	    </div>
	  </div>
	</div>
	<div style="margin-top: 70px">
	<%-   include('.././partials/chineseFooter')   %>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>