<!DOCTYPE html>
<html>
<head>
	<title>重设密码</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<!-- <%- include('.././partials/HeaderElement') %> -->
<div class="">

	<div class='forms-logo'></div>
	<center>
	<div class="">
		<h4><a href='mailto:<%=email%>'><%=email%></a> 已发送电子邮件！</h4>
		<br>
		<p>检查收件箱中的链接以更改密码。</p>
		<i>20分钟后过期！</i>
	</div>
	<ul class="footer-list local-mt-4">
		<li class='footer-list-item'>服务条款</li>
		<li class='footer-list-item'>隐私政策</li>
		<li class='footer-list-item'>它是如何工作的？</li>
	</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
