<!DOCTYPE html>
<html>
<head>
	<title>Survey App | 主页</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/chineseHomePage&PrivacyHeader')   %>
	<div class="landing-page">
		<div class="content local-container-8">
			<div class="text-area">
				<h1 class="title-area" style='font-size: 65px;transition: all .2s ease-out;'>
					<strong class="main-title">
						发现您的观众的强项！
					</strong>
				</h1>
				<p class="description">
					通过为他们创建调查来发现目标，然后您将轻松获得答复，
				</p>
				<a href="/?lang=cn"><button class='local-btn cta-btn local-btn-primary'>开始使用</button></a>
				<a href="/?lang=cn"><button class='local-btn cta-btn local-btn-dark'>学到更多</button></a>
			</div>
			<div class="show-app"></div>
		</div>
	</div>

	<div class="svg-background-first-landing-page">
		<h1 class="title-area text-center" style='font-size: 55px;margin-top: 30px;'>
			<strong style="color: rgba(0,0,0,.9);">
				我们提供什么？
			</strong>
		</h1>
		<div class="first-landing-page local-container-8">
			<div class="bg-light local-p-4 local-m-2 border local-shadow">
				<h4 class="text-center m-4">调查</h4>
				<p class="text-dark">
					您可以创建＆Costum＆编辑针对目标的调查，同时使用针对特定目标的调查，也可以将调查用作邀请家人和朋友的活动，询问他们关于您的活动的信息，以了解他们的需求！
				</p>
				<center>
					<a href="/login?lang=cn">
						<button class="local-btn local-btn-info">创建一个新调查</button>	
					</a>
				</center>
			</div>			
			<div class="bg-light local-p-4 local-m-2 border local-shadow">
				<h4 class="text-center m-4">API</h4>
				<p class="text-dark">
					如果您对API充满热情！那么这一方面可能适合您，您可以使用我们的API来以开发人员的身份学习RestfulAPI，或者如果可能的话，可以在您将来的应用中使用。			
				</p>
				<center>
					<a href="/docs?lang=cn">
						<button class="local-btn local-btn-info">用那个！</button>	
					</a>
				</center>
			</div>			
			<div class="bg-light local-p-4 local-m-2 border local-shadow">
				<h4 class="text-center m-4">GraphQL API</h4>
				<p class="text-dark">
					如果您对GraphQL世界充满热情！那么开始这方面可能会很好，您可以使用GraphQL API作为开发人员来学习该技术，或者如果可能的话，可以在将来的应用程序中使用。
				<center>
					<a href="/docs?lang=cn">
						<button class="local-btn local-btn-info">用那个！</button>	
					</a>
				</center>
			</div>			
		</div>
	</div>

	<div class="svg-background-second-landing-page">
		<div class="second-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/single_question_preview')   %>
			</div>
			<div id="pages-childs" class="product-feature-description-area">
				<h1 class="title-area" style='font-size: 55px;margin-top: 30px;'>
					<strong style="color: rgba(0,0,0,.9);">
						轻松将问题发布到您的目标！
					</strong>
				</h1>
				<p class="text-dark">
					无需艰苦的步骤，您就可以随时针对目标进行编辑，
					然后您将获得详细的答复并显示在图表中，以了解每个选项的答复，
				</p>	
			</div>
		</div>
	</div>

	<div class="svg-background-third-landing-page">
		<div class="third-landing-page local-container-8">
			<div id="pages-childs" class="product-feature-description-area">
				<h1 class="title-area" style='font-size: 55px;margin-top: 20px;'>
					<strong style="color: rgba(0,0,0,.9);">
						充分了解您的目标！
					</strong>
				</h1>	
				<p class="text-dark">
					通过创建调查的问题，您将能够从目标中以图表的形式针对每个问题接收答复，然后您可以将答复下载为JSON格式
				</p>		
			</div>
			<div id="pages-childs" class="product-feature-preview-feature-area">
				<%-   include('.././partials/response_preview_chart')   %>
			</div>
		</div>
	</div>

	<div class="svg-background-fourth-landing-page">
		<div class="fourth-landing-page local-container-8">
			<h1 class="title-area text-center" style='font-size: 55px;margin-top: 30px;'>
				<strong class="text-white">
					你准备好开始了吗？
				</strong>
			</h1>
			<center>	
				<a href="/login?lang=cn"><button class="local-btn">开始使用</button></a>
				<button class="local-btn">现在不要</button>
			</center>
		</div>
	</div>

<!-- 	<div class="svg-background-sixth-landing-page">
		<div class="sixth-landing-page local-container-8">
			<div class="services">
				<div class="service">
					<img src="https://assets.ubuntu.com/v1/1db850da-K8s+logo.svg" class="kbt-logo">
					<div>
						<h2 class="text-left text-white">Watch our SurveyApp Webiners ›</h2>
						<h6 class="text-left text-white">
							A series of on-demand webinars to learn more about Charmed Kubernetes.
						</h6>
					</div>
				</div>
				<div class="service-1">
					<img src="https://assets.ubuntu.com/v1/c8efedd7-OpenStack_Logo_white.svg" class="opnstk-logo">
					<div>
						<h2 class="text-left text-white">OpenStack costs increasing? ›</h2>
						<h6 class="text-left text-white">
							Learn how outsourcing OpenStack operations can accelerate the private cloud deployment process and help to bring costs down.
						</h6>
					</div>
				</div>
			</div>
		</div>
		
	</div> -->

	<%-  include('.././partials/chineseHomePage&PrivacyFooter.ejs')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
</style>