<!DOCTYPE html>
<html>
<head>
	<title>调查编辑</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style="">
<%- include('.././partials/chineseHeaderElement',{avatar:user.avatar}) %>
<div class="mt-4 mb-4 local-container-8">
	<!-- Dynamic alert message -->
	<%- include('.././partials/alertMessage') %>
	<ul class="list-group list-group-horizontal-sm">
	  <li style="cursor:pointer;" class="list-group-item edit-tab active">编辑</li>
	  <li style="cursor:pointer;" class="list-group-item responses-tab">回应</li>
	</ul>
	<!-- <h1>Survey Editor</h1> -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="survey-editor">

		<div class="survey-editor-preview">
			<% if ( survey !== null ) { %>
				<div class="desc local-card local-mt-4 local-p-2 local-shadow">
			
					<input 
					    type="text" 
					    name="survey-title" 
					    class="form-control survey-title local-mt-2" 
					    placeholder="本调查的标题"
					    value="<%= survey.title %>">
					<textarea  
					    type="text" 
					    name="survey-description" 
					    class="form-control survey-description local-mt-2"
					    placeholder="这项调查的说明"
					 ><%= survey.description %></textarea>
					 <p class="text-left local-mt-2">调查编号: <strong class="survey_id"><%= survey.id %></strong></p>
					
				</div>
				<div class="questions_list">
					<!-- Single Question -->
					<!-- Single Question -->
					<% survey.questions.forEach((question)=>{ %>				
						<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
							<!-- Dragable section -->
							<div class="dragable">
								<div></div><div></div><div></div>
								<div></div><div></div><div></div>
							</div>
							<!-- Quetsion or title -->
							<input 
								class="form-control mt-2" 
								placeholder='您想在这里写下哪个问题？'
								value="<%= question.title %>" 
								required
							>
							<!-- Files inputs -->
							<div class="custom-file files-attachment">
								<input type="file" class="custom-file-input" id="validatedCustomFile" onchange='getFile(event)' placeholder="<%= question.file %>">
								<label class="custom-file-label" for="validatedCustomFile">选择文件...</label>
								<div class="invalid-feedback">Example invalid custom file feedback</div>
							</div>
							<!-- Options -->
							<div class="options-area">
								<ul class="options-list">
									<% question.options.forEach((option)=>{ %>
									<li class="option-item">
										<input 
											type="text" 
											placeholder="选项" 
											class="form-control" 
											required 
											value="<%= option %>"
										>
										<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
									</li>
									<% }) %>
								</ul>
								<p class="add-new-option p-2">新增一个 +</p>
							</div>
							<!-- Settings -->
							<div class="question_settings p-2">
								<i 
								onclick="deleteField(event)" 
								style="display: inline" 
								class="delete-field mx-2 far fa-trash-alt"></i>
								<select style="display: inline;width: 180px;" class='mx-2 form-control'>

									<% if (question.type === "MultipleChoice") { %>
									<%- "<option selected>MultipleChoice</option><option>OneChoice</option><option>ShortParagraph</option>" %>
									
									<% } else if (question.type === "OneChoice") { %>
									<%- "<option>MultipleChoice</option><option selected>OneChoice</option><option>ShortParagraph</option>" %>
									
									<% } else if (question.type === "ShortParagraph") { %>
									<%- "<option>MultipleChoice</option><option>OneChoice</option><option selected>ShortParagraph</option>" %>

									<% } else { %>
									<%- "<option>MultipleChoice</option><option>OneChoice</option><option>ShortParagraph</option>" %>
									<% } %>

								</select>
							</div>
						</div>
					<% }) %>
				</div>
			<% } else { %>
				<div class="desc local-card local-mt-4 local-p-2 local-shadow">
			
					<input 
					    type="text" 
					    name="survey-title" 
					    class="form-control survey-title local-mt-2" 
					    placeholder="本调查的标题">
					<textarea  
					    type="text" 
					    name="survey-description" 
					    class="form-control survey-description local-mt-2"
					    placeholder="这项调查的说明"
					 ></textarea>
					 <p class="text-left local-mt-2">调查编号: <strong class="survey_id">---</strong></p>
					
				</div>
				<div class="questions_list">
					<!-- Single Question -->
					<!-- Single Question -->
					<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
						<!-- Dragable section -->
						<div class="dragable">
							<div></div><div></div><div></div>
							<div></div><div></div><div></div>
						</div>
						<!-- Quetsion or title -->
						<input class="form-control mt-2" placeholder='您想在这里写下哪个问题？' required>
						<!-- Files inputs -->
						<div class="custom-file files-attachment">
							<input type="file" class="custom-file-input" id="validatedCustomFile" onchange='getFile(event)'>
							<label class="custom-file-label" for="validatedCustomFile">选择文件...</label>
							<div class="invalid-feedback">Example invalid custom file feedback</div>
						</div>
						<!-- Options -->
						<div class="options-area">
							<ul class="options-list">
								<li class="option-item">
									<input type="text" placeholder="选项" class="form-control" required>
									<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
								</li>
								<li class="option-item">
									<input type="text" placeholder="选项" class="form-control" required>
									<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
								</li>
							</ul>
							<p class="add-new-option p-2">新增一个 +</p>
						</div>
						<!-- Settings -->
						<div class="question_settings p-2">
							<i onclick="deleteField(event)" style="display: inline" class="delete-field mx-2 far fa-trash-alt"></i>
							<select style="display: inline;width: 180px;" class='mx-2 form-control'>
								<option>MultipleChoice</option>
								<option>OneChoice</option>
								<option>ShortParagraph</option>
							</select>
						</div>
					</div>
				</div>
			<% } %>
			<!-- Description Place -->
			<!-- Description Place -->
			<button class="local-btn local-btn-primary local-mt-2 local-mb-2 float-right btn-save-changes">保存更改</button>
		</div>
		<!-------------------- Tools ----------------------->
		<!-------------------- Tools ----------------------->
		<!-------------------- Tools ----------------------->
		<div class="survey-editor-tools">
			<div class="tools-panel local-mt-4  local-shadow local-p-2">
				<ul class="tools-list">
					<li class="add_new_field">
						<i data-toggle="tooltip" data-placement="left" title="新增栏位" class="fas fa-plus"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#importModal">
						<i data-toggle="tooltip" data-placement="left" title="导入另一个调查问题" class="fas fa-file-import"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#shareMethodsModal">
						<i data-toggle="tooltip" data-placement="left" title="分享此调查" class="fas fa-share-square"></i>
					</li>
					<li type="button">
						<% if (survey !== null ) { %>
							<a href='/response/downloadResults?survey_id=<%= survey.id %>&user_id=<%= survey.user_id %>'>
								<i data-toggle="tooltip" data-placement="left" title="下载回应" class="fas fa-file-download"></i>
							</a>
						<%}%>
						<% if (survey == null ) { %>
							<a href='#'>
								<i data-toggle="tooltip" data-placement="left" title="下载回应" class="fas fa-file-download"></i>
							</a>
						<%}%>
						
					</li>
				</ul>
			</div>
		</div>
		<!-- shareMethodsModal -->
		<div class="modal fade" id="shareMethodsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">分享此调查</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>链接以在您的社交媒体上分享：</p>
		        
		        <% if (survey == null ) { %>
	        		<kbd style='font-size: 10px'>surveyapp1.herokuapp.com/submitResponse?survey_id=</kbd>
	        	<% } else { %>
	        		<kbd style='font-size: 10px'>surveyapp1.herokuapp.com/submitResponse?survey_id=<%= survey.id %>&lang=cn</kbd>
	        	<%}%>
		        <p class="my-4"><strong>注意：如果您对这个长链接不满意，可以通过此 <a href="https://minurl1.herokuapp.com" target="_blank">应用</a>简短说明！</strong></p>
		       
		        <p>将其包含在您的网站中的嵌入式元素：</p>
	        	<% if (survey == null ) { %>
		        	<div class="local-alert info">
		        		保存您的调查以获取嵌入式链接！
		        	</div>
	        	<% } else { %>
<xmp style="">
<iframe 
  src="surveyapp1.herokuapp.com/embedded?survey_id=<%=survey.id %>&lang=cn" 
  width="100%" 
  height="245px">
</iframe>
</xmp> 
	        	<%}%>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">关</button>
		        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		</div>
		<!-- importModal -->
		<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">导入另一个问题</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>将您要导入的调查ID粘贴到下面:</p>
		        <strong style='font-size: 13px;line-height: 3px'>
		        	注意：如果<kbd> survey_id </kbd>与调查ID相关，您将在其链接中获得调查ID，如下所示！
		        </strong>
		        <br>
		        <!-- <img  class="local-mt-2" src="./previewID.png" width="100%"> -->
		        <kbd style='font-size: 10px'>/surveyEditor?survey_id=5f4aef5b4491253b00b7cae</kbd>
		        <input type="text" class="import_survey_id form-control local-mt-2" placeholder="Survey ID">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">关</button>
		        <button type="button" class="local-btn local-btn-primary" onclick="importQuestions()">进口</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="responses">
		
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>

<!-- important
% if
% 	guard ->
% 		body
% end -->